{extend name="public/base"/}
{block name="title"}
扫码认证
{/block}
{block name="css"}
{include file="public/wx"/}
{/block}
{block name="main"}

<body ontouchstart>
    <header class="demos-header">
        <h1 class="demos-title">{$people.plot.title|default='小区名称'}</h1>
        <p class="demos-sub-title">扫描二维码,认证通行二维码</p>
    </header>
    <div class="bd">
        <div class="page__bd">
            <div class="weui-cells__title">小区信息</div>
            <div class="weui-cells">
                <div class="weui-cell">
                    <div class="weui-cell__bd">
                        <p>小区名称</p>
                    </div>
                    <div class="weui-cell__ft">{$people.plot.title|default=''}</div>
                </div>
                <div class="weui-cell">
                    <div class="weui-cell__bd">
                        <p>小区地址</p>
                    </div>
                    <div class="weui-cell__ft">{$people.plot.address|default=''}</div>
                </div>
                <div class="weui-cell">
                    <div class="weui-cell__bd">
                        <p>值班人</p>
                    </div>
                    <div class="weui-cell__ft">{$people.username|default=''}</div>
                </div>
                <div class="weui-cell">
                    <div class="weui-cell__bd">
                        <p>电话</p>
                    </div>
                    <div class="weui-cell__ft">{$people.tel|default=''}</div>
                </div>
            </div>

        </div>
    </div>
    <div class="demos-content-padded">
        <a href="javascript:scan();" class="weui-btn weui-btn_primary">扫码认证</a>
    </div>
</body>
{/block}
{block name="js"}
<script>
    var domain = "{$Request.domain}";
    //调用微信扫码接口
    wx.scanQRCode({
        needResult: 1, // 默认为0，扫描结果由微信处理，1则直接返回扫描结果，
        scanType: ["qrCode", "barCode"], // 可以指定扫二维码还是一维码，默认二者都有
        success: function (res) {
            var result = res.resultStr; // 当needResult 为 1 时，扫码返回的结果
            alert(result);
            if(result.indexOf(domain) == false){
                $.toast("无效通行证", "cancel");
                return;
            }
            location.href = result;
        }
    });
</script>
{/block}
