{extend name="public/base"/}
{block name="title"}我的小区{/block}
{block name="css"}
    {include file="public/wx"/}
    <style>
        .header-button {
            text-align: center;
        }
    </style>
{/block}
{block name="main"}

<body ontouchstart="">

    <header class="demos-header">
        <h1 class="demos-title">{$plot.title|default='未入驻小区'}</h1>
        <p class="demos-sub-title">{$plot.address|default='未知地址'}</p>
    </header>
    {notempty name="plot"}
    <div class="weui-grids">
        <a href="{:url('home/plot/view',['id'=>$plot['id']])}" class="weui-grid js_grid">
            <div class="weui-grid__icon">
                <img src="http://jqweui.com/dist/demos/images/icon_nav_calendar.png" alt="">
            </div>
            <p class="weui-grid__label">
                我的小区
            </p>
        </a>
        <a href="{:url('home/plot/users',['plot_id'=>$plot['id']])}" class="weui-grid js_grid">
            <div class="weui-grid__icon">
                <img src="http://jqweui.com/dist/demos/images/icon_nav_panel.png" alt="">
            </div>
            <p class="weui-grid__label">
                人员管理
            </p>
        </a>
        <a href="{:url('home/tick/index')}" class="weui-grid js_grid">
            <div class="weui-grid__icon">
                <img src="http://jqweui.com/dist/demos/images/icon_nav_panel.png" alt="">
            </div>
            <p class="weui-grid__label">
                通行证
            </p>
        </a>
        <a href="{:url('home/tick/record')}" class="weui-grid js_grid">
            <div class="weui-grid__icon">
                <img src="http://jqweui.com/dist/demos/images/icon_nav_article.png" alt="">
            </div>
            <p class="weui-grid__label">
                通行记录
            </p>
        </a>
        <a href="{:url('home/tick/check')}" class="weui-grid js_grid">
            <div class="weui-grid__icon">
                <img src="http://jqweui.com/dist/demos/images/icon_nav_search_bar.png" alt="">
            </div>
            <p class="weui-grid__label">
                通行验证
            </p>
        </a>
        
    </div>
    {else}
        <div class="demos-content-padded">
            <a href="{:url('home/plot/create')}" class="weui-btn weui-btn_plain-default">创建小区</a>
            <a href="{:url('home/plot/into')}" class="weui-btn weui-btn_plain-primary">入驻小区</a>
        </div>
    {/notempty}


    {include file="public/footer"/}
</body>
{/block}
{block name="js"}
{/block}
